spring:
  application:
    name: b3invest-user

  datasource:
    url: jdbc:h2:mem:b3invest
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: ${PORT:0}

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
